.dc-bloc-section {padding:10px; background-color:#fff; border-radius:8px; overflow: hidden; box-shadow: 0px 1px 2px rgba(16,24,40,.1);}
.dc-bloc-section .bloc-widget {display:flex; align-items: center; margin-bottom:10px;}
.dc-bloc-section .bloc-widget:last-child {margin-bottom:0;}
.dc-bloc-section .bloc-widget label {width:140px;}
.dc-bloc-section .bloc-widget input[type="checkbox"] {margin:0;}